### Starting the project

In [94]:
# Importing Modules
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [210]:
# Importing the dataset
np.random.seed(42)
titanic_train = pd.read_csv("Data/train.csv")
titanic_test = pd.read_csv("Data/test.csv")


# len(titanic_train), len(titanic_test) #- Length of the respective sets
#titanic_train.isna().sum() # - Tells utrans the total number of missing data 
# titanic_train["Survived"].value_counts() - Tells how many survived the crash

#TRAIN
x_major = titanic_train.drop(["Ticket", "Name", "Embarked", "Survived" , "Cabin"], axis=1)
y_major = titanic_train["Survived"]

x_major["Age"].fillna(x_major["Age"].mean(), inplace=True) # Filling the data with mean age
#x_major["Cabin"].replace("missing", pd.NA, inplace=True)

# Dropping rows where Cabin is NaN
#x_major.dropna(subset=["Cabin"], inplace=True)

#Alligns the rows with x_major
y_major = y_major.loc[x_major.index]

categorical_features_train = ["Sex"]
one_hot_train = OneHotEncoder()
transformer_train = ColumnTransformer([("one_hot_train", 
                 one_hot_train,
                 categorical_features_train)],
                 remainder = "passthrough")

transformed_xtrain = transformer_train.fit_transform(x_major)
transformed_xtrain_df = pd.DataFrame(transformed_xtrain)
transformed_xtrain_df.head()

#TEST

x_minor = titanic_test.drop(["Ticket", "Name", "Embarked", "Cabin"], axis=1)
#y_minor = titanic_test[]

x_minor["Age"].fillna(x_minor["Age"].mean(), inplace=True)
x_minor.dropna(subset=["Fare"], inplace=True)
# x_minor["Cabin"].replace(pd.NA, pd.NA, inplace=True)

# # # Dropping rows where Cabin is NaN
# x_minor.dropna(subset=["Cabin"], inplace=True)

#y_minor = y_minor.loc[x_minor.index]

categorical_features_test = ["Sex"]
one_hot_test = OneHotEncoder()
transformer_test = ColumnTransformer([("one_hot_test", 
                 one_hot_test,
                 categorical_features_test)],
                 remainder = "passthrough")

transformed_xtest = transformer_test.fit_transform(x_minor)
transformed_xtest_df = pd.DataFrame(transformed_xtest)
transformed_xtest_df.head()

#CROSS-VAL
Model1 = RandomForestClassifier()
score = cross_val_score(Model1, transformed_xtrain_df, y_major, cv=5)
#score.mean()
x_train, x_test, y_train, y_test = train_test_split(transformed_xtrain_df, y_major, train_size = 0.9)
Model1.fit(x_train, y_train)
Model1.score(x_train, y_train)

y_minor = Model1.predict(transformed_xtest_df)
y_minor_df = pd.DataFrame(y_minor, columns=["Survived"])
#y_minor_df
TrainModelScore = Model1.score(x_train, y_train)
TestModelScore = Model1.score(transformed_xtest_df, y_minor)

TrainModelScore, TestModelScore
#Model1.score(x_test, y_test)
titanic_test2 = titanic_test.dropna(subset=["Fare"], inplace=True)

In [211]:
Final_Prediction  = pd.DataFrame({
    "PassengerId":titanic_test["PassengerId"],
    "Survived":y_minor
})

Final_Prediction # <- This Answer

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[417 rows x 2 columns]

### The End